<div>
    <div class="post-container">
        <div class="post">
            <div class="post-header">
                <div class="post-title">{{title}}</div>
            <div class="post-user">{{user.aliasName}}</div>
            </div>
            <div class="post-need">{{need}}</div>
            <div class="post-body">
               {{post}}
            </div>
            <div class="post-date">{{post_date}}</div>
             <button onclick="document.getElementById('id01').style.display='block'" class="w3-button add-thread">Add A Comment</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-center thread-cont"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>Add A Comment To This Post</h2>
      </header>
      <div class="w3-container">
        <input class="w3-input w3-border w3-margin-bottom thread-input" id="counter-text" type="text" placeholder="Any Counter Offer?">
        <input class="w3-input w3-border w3-margin-bottom thread-input" id="thread-text" type="text" placeholder="Do You Want To Help With This Offer? Enter Your Comment Here.">
        </div>
      <footer class="w3-container w3-center thread-cont" id="thread-post-btn">
        <button class="w3-button w3-block thread-button w3-section w3-padding"  type="submit" data-id="{{id}}">Add Comment</button>
        <p>Broker Exchange</p>
      </footer>
    </div>
  </div>
</div>
            <p>cheese</p>
        </div>
    </div>
</div>