<div>
    <div class="post-container">
        <div class="post">
            <div class="post-header">
                <div class="post-title">{{title}}</div>
            <div class="post-user">{{user.aliasName}} PERSON</div>
            </div>
            <div class="post-need">{{need}}</div>
            <div class="post-body">
               {{post}}
            </div>
            <div class="post-date">{{post_date}}</div>
        </div>
    </div>
</div>