<div class="w3-container w3-center profile-head">
        <h3>My Profile</h3>
      </div>
      
      <div class="w3-container w3-center profile-usr">
        <p>Profile Name: {{{aliasName}}}</p>
        <p>Profile Email: {{{email}}}</p>
      </div>
      

       {{#if posts.length}}
  <div class="w3-container w3-center profile-hist">
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}
    <div class="w3-container w3-center">
      <div class="w3-container w3-center">
        <h4><a href="/profile/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="w3-container w3-center">
        <button class="w3-button w3-block w3-green w3-section w3-padding" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>