<div class="w3-center">
        <header class="profile-header">MY PROFILE</header>
      </div>
      
      <div class="w3-container w3-center profile-usr">
        {{!-- Grabs the users alias name and email and puts them in a card on the profile page --}}
        <p>Profile Name: {{aliasName}}</p>
        <p>Profile Email: {{email}}</p>

      </div>
      

       {{#if posts.length}}
  <div class="w3-container w3-center profile-hist">
    <p>CURRENT POSTS</p>
{{!-- For each post the user has created this will render them in a grid on their profile page for them to view or delete --}}
    {{#each posts as |post|}}

    <div class="w3-container w3-center post-delete post-hist">
      <div class="w3-container w3-center">
        <p><a href="/profile/{{post.id}}">{{post.title}}</a></p>
      </div>
      <div class="w3-container w3-center">
        <button class="w3-button w3-block w3-section w3-padding delete-button" data-id="{{id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>